<html>
    <head>

    </head>
    <body>
        Hi <%= name %>,
        <br />
        <br />
        Here is the link to reset your password
        <br />
        <br />
        <a href="<%= resetPasswordURL %>">Click here to reset your password </a>
        <br />
        <br />
        Thanks
        <br />
        <br />
        RateMe Team
    </body>
</html>